<mat-card class="example-card" *ngIf="borrower$ | async as borrower">
    <mat-card-header>
      <mat-card-title>{{borrower.libraryCardNumber}}</mat-card-title>
      <mat-card-subtitle>{{borrower.email}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{borrower.firstName}} {{borrower.lastName}}</p>
      <p>Sex: {{borrower.sex}}</p>
      <p>Address: {{borrower.address}}</p>
    </mat-card-content>
      <div *ngIf="borrowings$ | async as borrowings">
        <div *ngIf="borrowings.length > 0">
          <p>Borrowings:</p>
          <table class="borrowings-table">
            <thead>
              <tr>
                <th>Book title</th>
                <th>Book description</th>
                <th>Author</th>
                <th>Date of borrowing</th>
                <th>Date of return</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let bor of borrowings">
                <td>{{bor.bookTitle}}</td>
                <td>{{bor.bookDescription}}</td>
                <td>{{bor.bookAuthor}}</td>
                <td>{{bor.dateOfBorrowing}}</td>
                <td>{{bor.dateOfReturn}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    
  </mat-card>
  